@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./components/card_food.css');
@import url('./mainconponents/header.css');
@import url('./components/prymary_button.css');
@import url('./pages/index.css');
@import url('./components/order-form.css');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
  margin: 0 auto;
  background-color: var(--prymary);
  max-width: 830px;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 2rem;
}
:root{
  --prymary: #171717;
  --prymary2: #1D1D1D;
  --prymary3: #252525;
}
p {
display: block;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.grid_container_items{
    display: grid;
    gap: 1rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.poster{
    padding-top: 20px;
    width: 100%;
    height: 300px;
}
.poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 1.3px #252525 solid;
}