header{
  margin-top: 10px;
  padding: 5px 5px 5px 20px;
  display: flex;
  border: 1.3px #252525 solid;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  background-color: var(--prymary2);
}