@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
body{
  margin: 0 auto;
  background-color: var(--prymary);
  overflow: hidden;
  color: white;
  font-family: "Inter", sans-serif;
}
p {
display: block;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
:root{
  --prymary: #171717;
  --prymary2: #1D1D1D;
  --prymary3: #252525;
}
.backround_viget{
  cursor: pointer;
  height: 200px;
  background-color: var(--prymary2);
  border: 1.3px var(--prymary3) solid;
  padding: 16px;
    border-radius: 1rem;
}

.wrapper{
  padding: 3vw;
  max-width: 830px;

  margin: 0 auto;
}
.header{
  margin-top: 10px;
  padding: 5px 5px 5px 20px;
  display: flex;
  border: 1.3px var(--prymary3) solid;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  background-color: var(--prymary2);
}
.mybutton{
  cursor: pointer;
  font-size: 13px;
  border-radius: 16px;
  padding: 10px 20px;
  background-color: var(--prymary);
  color: white;
  border: 1.3px var(--prymary3) solid;
  transition: all 0.3s ease;
}

.mybutton:hover{
    background-color: var(--prymary2);
}

.mybutton:active{
      background-color: var(--prymary);
}

.grid_viget{
  max-height: 83vh;
  margin-top: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  gap: 1rem;
  display: grid;
   grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 983px) {
    .grid_viget{
  gap: 1rem;
  padding-top: 1rem;
  display: grid;
   grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 483px) {
    .grid_viget{
  gap: 1rem;
  padding-top: 1rem;
  display: grid;
   grid-template-columns: repeat(1, 1fr);
}
}
.backround_viget p {
  display: flex;
  font-size: 1.6rem;
}

#time{
  font-size: 3.4rem;
}
.modal_open_choose_viget{
  display: none;
  padding-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  border-radius: 1rem;
  border: 1.5px var(--prymary3) solid;
  background-color: var(--prymary2);
  transition: all 0.3s ease;
}
.content_modal{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ymaps-2-1-79-copyrights-pane {
    display: none;
}
#map > ymaps {
    border-radius: 0.5vw;
    overflow: hidden;
    }
.map_stiles{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* filter: grayscale(1);  */
}

/* From Uiverse.io by njesenberger */ 
.toggle-container {
  --active-color: #fff;

  position: relative;
  aspect-ratio: 292 / 142;
  height: 1.875em;
}

.toggle-input {
  appearance: none;
  color: black;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.toggle-background {
  fill: var(--prymary);
  transition: fill .4s;
}

.toggle-input:checked + .toggle .toggle-background {
  fill: var(--active-color);
}

.toggle-circle-center {
  transform-origin: center;
  transition: transform .6s;
}

.toggle-input:checked + .toggle .toggle-circle-center {
  transform: translateX(150px);
}

.toggle-circle {
  transform-origin: center;
  transition: transform .45s;
  backface-visibility: hidden;
}

.toggle-circle.left {
  transform: scale(1);
}

.toggle-input:checked + .toggle .toggle-circle.left {
  transform: scale(0);
}

.toggle-circle.right {
  transform: scale(0);
}

.toggle-input:checked + .toggle .toggle-circle.right {
  transform: scale(1);
}

.toggle-icon {
  transition: fill .4s;
}

.toggle-icon.on {
  fill: var(--prymary);
}

.toggle-input:checked + .toggle .toggle-icon.on {
  fill: var(--prymary3);
}

.toggle-icon.off {
  fill: var(--prymary3);
}

.toggle-input:checked + .toggle .toggle-icon.off {
  fill: var(--active-color);
}

.themeviget{
  display: flex;
  justify-content: center;
  align-items: center;
}.timeviget{
  display: flex;
  justify-content: center;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.info {
   position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #2a54fd;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__icon path {
  fill: #fff;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: #fff;
}

.info {
  /* ваш существующий CSS */
  transition: opacity 0.3s ease-in-out;
}

.info.fade-out {
  opacity: 0;
}