@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
body{
  margin: 0 auto;
  background-color: var(--prymary);
  max-width: 830px;
  color: white;
  font-family: "Inter", sans-serif;
}
p {
display: block;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
:root{
  --prymary: #171717;
  --prymary2: #1D1D1D;
  --prymary3: #252525;
}
.backround_viget{
  cursor: pointer;
  height: 200px;
  background-color: var(--prymary2);
  border: 1.3px #252525 solid;
  padding: 16px;
    border-radius: 1rem;
}

.wrapper{
  padding: 3vw;
}
.header{
  margin-top: 10px;
  padding: 5px 5px 5px 20px;
  display: flex;
  border: 1.3px #252525 solid;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  background-color: var(--prymary2);
}
button{
  cursor: pointer;
  font-size: 13px;
  border-radius: 16px;
  padding: 10px 20px;
  background-color: var(--prymary);
  color: white;
  border: 1.3px #252525 solid;
  transition: all 0.3s ease;
}

button:hover{
    background-color: var(--prymary2);
}

button:active{
      background-color: var(--prymary);
}

.grid_viget{
  gap: 1rem;
  padding-top: 1rem;
  display: grid;
   grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 983px) {
    .grid_viget{
  gap: 1rem;
  padding-top: 1rem;
  display: grid;
   grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 483px) {
    .grid_viget{
  gap: 1rem;
  padding-top: 1rem;
  display: grid;
   grid-template-columns: repeat(1, 1fr);
}
}
.backround_viget p {
  display: flex;
  font-size: 1.6rem;
}

#time{
  font-size: 3.4rem;
}