@media (max-width: 983px) {
    .grid_viget{
  gap: 1rem;
  padding-top: 1rem;
  display: grid;
   grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 483px) {
        .grid_viget{
    gap: 1rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}