body{
    background-color: #2d2d2d;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 700px;
}

.item_content{
    border-radius: 1rem;
    padding: 0rem 2rem;
    background-color: #4e4e4e;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.do_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#add_task{
    margin-top: 2rem;
}